
[Desktop Entry]
Name=Kirmah
Comment=Encryption with symmetric-key algorithm Kirmah
Version=2.18
Icon=/usr/share/pixmaps/kirmah/kirmah.png
Exec=kirmah
Terminal=false
Type=Application
StartupNotify=false
MimeType=
Categories=System;
